@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: Roboto;
}

.App-main {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}